$navbar-default-bg:                #f8f8f8;
$navbar-default-border:darken($navbar-default-bg, 6.5%);

$padding-base-vertical:.75rem;
$padding-base-horizontal:1rem;

$border-radius-base:$border-radius;
$line-height-base:$line-height;

$padding-large-horizontal:1.5rem;
$padding-large-vertical:1.5rem;

$text-color:$gray;
$font-size-large:$font-size-lg;